header{
  background-image: url("../img/companylogoBG.jpg");
  background-size: 100%;
  background-position: 0% 80%;
  width: 100%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  margin:0;

}
.COMPANYLogo_style{
  font-family: Arial, Helvetica, sans-serif;
  font-size:50px;
  color:#FFFFFF;
  padding:0;
  margin:0;
  vertical-align:middle;
  text-align: center;
}
.Menu{
  background-color: #AAAAAA;
  width:100%;
  height:50px;
}
.btn{
  background-color: #AAAAAA;
  width:100%;
  height:50px;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 250px;
  text-align: center;
  font-size: 30px;
}
body{
    background-image: url("../img/background.jpeg");
    padding:0;
    margin:0;
    width: 100%;
}
a{
   background-color: #AAAAAA;
   text-decoration: none;
   width:33%;
   height:50px;
   color:#FFFFFF;
   font-family: Arial, Helvetica, sans-serif;
   text-indent: 50px;
 }
 .blue_box{
   background-color: #2699FB;
   width: 100%;
   height:100px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   font-size: 35px;
   color:#FFFFFF;
   margin: 0;
   padding-top: 3%;
   padding-bottom: 3%;
   vertical-align: middle;
 }
 h2{
   padding: 0;
   margin:0;
 }
 main{
     background-color:#FFFFFF;
     width: 80%;
     position:absolute;
     left:10%;
 }
 footer{
   width:100%;
   height:50px;
   padding:0;
   margin: 0;
   background-color: #000000;
   text-align: center;
   vertical-align: middle;
   font-size: 20px
 }
 p{
   color:#FFFFFF;
   font-family: Arial, Helvetica, sans-serif;
   text-align:center;
   vertical-align: middle;
   padding: 0;
   margin:0;
 }
.contact{
  width: 100%;
  height: auto;
  background-color: #F5F5F5F5;
  color:#444444;
  font-family: Arial, Helvetica, sans-serif;
}
.blue{
  background-color: #2699FB;
  color:#FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  border: none;
}
