.header{
  background-image: url("../img/companylogoBG.jpg");
  height: 250px;
  width: 100%;
  background-size: 100% 300px;
  height: 300px;

}
.COMPANYLogo_style{
  font-family: "Berlin Sans FB";
  text-align: center;
  size:80px;
  color:#FFFFFF;
}
.Menu{
  background-color: #AAAAAA;
}
body{
    background-image: url("../img/background.jpeg");
}
